.content {
  user-select: none;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.handle {
  fill: gray;

  &_valid {
    fill: green;
  }

  &_invalid {
    fill: red;
  }
}
