<button (click)="addNode()">Add node</button>

<vflow #flow [nodes]="nodes" [edges]="edges" [view]="[500, 500]" [connection]="connectionSettings" (onConnect)="handleConnect($event)">
  <ng-template nodeHtml>
    <div style="background-color: black;">Hello world</div>
  </ng-template>

  <ng-template edge let-context>
    <svg:path
      [attr.d]="context.path()"
      stroke="red"
      stroke-width="3"
      fill="none"
    />
  </ng-template>

  <ng-template connection let-context>
    <svg:path
      [attr.d]="context.path()"
      stroke="red"
      stroke-width="3"
      fill="none"
    />
  </ng-template>

  <ng-template edgeLabelHtml let-context>
    <div style="background-color: black;">
      Edge: {{ context.edge.data.title }}
      <br>
      Label: {{ context.label.data.title }}
    </div>
  </ng-template>

  <ng-template handle let-context>
    <svg:rect
      class="handle"
      [class.handle_valid]="context.state() === 'valid'"
      [class.handle_invalid]="context.state() === 'invalid'"
      [attr.x]="context.point().x - 5"
      [attr.y]="context.point().y - 5"
      width="10"
      height="10"
    />
  </ng-template>
</vflow>
