<button (click)="addNodes()">Add nodes</button>

<vflow
  view="auto"
  [nodes]="nodes"
  [edges]="edges"
  (connect)="createEdge($event)"
  (onNodesChange.position.single)="handleNodePositionChange($event)"
  (onNodesChange.select.single)="handleNodeSelectChange($event)"
  (onNodesChange.add.many)="handleNodesAddChange($event)"
  (onEdgesChange.add)="handleEdgesAddChange($event)" />

<ng-template #toast let-ctx>
  <h3>{{ toastData?.title }}</h3>

  <pre>{{ toastData?.json }}</pre>
</ng-template>
