<vflow view="auto" [nodes]="nodes" [edges]="edges">
  <ng-template let-ctx nodeHtml>
    @if (ctx.node.data.type === 'output') {
      <div class="custom-node">
        <div class="data-block">
          Output 1
          <handle position="right" type="source" [id]="ctx.node.data.output1"/>
        </div>
        <div class="data-block">
          Output 2
          <handle position="right" type="source" [id]="ctx.node.data.output2"/>
        </div>
      </div>
      <node-toolbar position="left">
        <button (click)="deleteNode(ctx.node)">Delete</button>
      </node-toolbar>
    }

    @if (ctx.node.data.type === 'input') {
      <div class="custom-node">
        <div class="data-block">
          Input 1
          <handle position="left" type="target" [id]="ctx.node.data.input1"/>
        </div>
        <div class="data-block">
          Input 2
          <handle position="left" type="target" [id]="ctx.node.data.input2"/>
        </div>
      </div>
      <node-toolbar position="right">
        <button (click)="deleteNode(ctx.node)">Delete</button>
      </node-toolbar>
    }
  </ng-template>
</vflow>
