:host {
  width: 100%;
  height: 100%;
}

.custom-node {
  width: 100px;
  height: 50px;
  background: #bbe1fa;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: absolute;
  display: flex;
  padding: 4px;
  gap: 4px;

  background-color: #2e414c;
  border-bottom-right-radius: 6px;
}
