<ng-doc-root>
  <ng-doc-navbar>
    <div ngDocNavbarLeft>
      <div class="logo-container">
        <a href="https://github.com/artem-mangilev/ngx-vflow">
          <img class="logo-icon" src="../assets/logo.svg" />
        </a>
        <h3 data-testid="logo-text" class="logo-text">ngx-vflow</h3>
      </div>
    </div>

    <div ngDocNavbarRight>
      <div class="header-controls">
        <ng-doc-theme-toggle />

        <a
          href="https://github.com/artem-mangilev/ngx-vflow"
          ng-doc-button-icon
          ngDocTooltip="Repository on GitHub"
          size="large"
          target="_blank">
          <ng-doc-icon customIcon="github" [size]="24" />
        </a>
      </div>
    </div>
  </ng-doc-navbar>

  <ng-doc-sidebar />

  <div [@routingAnimation]="getRouteAnimationData()">
    <router-outlet />
  </div>
</ng-doc-root>
