.logo-container {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #3282b8;
  margin-top: 4px;
}

.logo-text {
  margin-left: 7px;
}
