<h1>SVG</h1>

<svg width="200" height="150">
  <g vdoc-root>
    <svg vdoc-block [styleSheet]="styles.container">
      <svg vdoc-block [styleSheet]="styles.innerContainer">
      </svg>
    </svg>
    <svg vdoc-block [styleSheet]="styles.container">
      <svg vdoc-block [styleSheet]="styles.innerContainer"></svg>
      <svg vdoc-block [styleSheet]="styles.innerContainer"></svg>
    </svg>
  </g>
</svg>

<h1>HTML</h1>

<div class="container">
  <div class="inner-container"><span>Test test test test</span></div>
  <div class="inner-container"></div>
</div>
<div class="container">
  <div class="inner-container"></div>
  <div class="inner-container"></div>
</div>
