.container {
  border-radius: 5px;
  background-color: #f2f2f2;

  width: 200px;
  height: 50px;

  margin-bottom: 10px;
}

.inner-container {
  border-radius: 5px;
  background-color: #0000ff;

  width: 100px;
  height: 40px;

  margin-bottom: 10px;
}
