<ng-doc-root>
  <ng-doc-navbar>
    <div ngDocNavbarLeft>
      <div class="logo-container">
        <a href="https://github.com/artem-mangilev/ngx-vflow">
          <img class="logo-icon" src="../assets/logo.svg" />
        </a>
        <h3 data-testid="logo-text" class="logo-text">ngx-vflow</h3>
      </div>
    </div>

    <div ngDocNavbarRight>
      <div class="header-controls">
        <ng-doc-theme-toggle />

        <a
          href="https://github.com/artem-mangilev/ngx-vflow"
          ng-doc-button-icon
          ngDocTooltip="Repository on GitHub"
          size="large"
          target="_blank">
          <ng-doc-icon customIcon="github" [size]="24" />
        </a>

        <a
          class="studio-link"
          href="https://vflow-studio.com/"
          ngDocTooltip="Open Vflow Studio"
          target="_blank"
          rel="noreferrer"
          aria-label="Open Vflow Studio website">
          <span class="studio-link__icon" aria-hidden="true">
            <svg class="studio-link__logo" viewBox="79 120 120 120" fill="none">
              <defs>
                <linearGradient
                  id="studio-logo-gradient"
                  x1="139.44"
                  y1="231.64"
                  x2="139.44"
                  y2="128.68"
                  gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#3282B8" />
                  <stop offset="1" stop-color="#0F4C75" />
                </linearGradient>
              </defs>
              <path
                fill="url(#studio-logo-gradient)"
                d="M188.64,131.96c-2.86-2.05-6.4-3.29-10.37-3.29h-71.14l.05.08,6.12,10.6,8.87,15.36h0l7.97,13.81,9.33,16.16,9.36,16.21-4.21,7.29c-2.29,3.97-8.02,3.97-10.31,0l-4.2-7.28-9.33-16.15-18.3-31.69c-1.49-3.8,1.28-8.1,5.56-8.1h.34l-9.35-16.19c-3.57.44-5.85,1.22-8.7,3.24-6.72,4.76-9.75,13.98-5.91,22.15.22.47.46.94.73,1.41l16.9,29.26.04-.07,9.35,16.2,12.56,21.76c6.88,11.91,24.06,11.91,30.94,0l12.58-21.78-9.34-16.18-9.37-16.22-9.33-16.16-4.28-7.42-.05-.08h35.72c4.58,0,7.45,4.96,5.16,8.93l-8.51,14.74-5.44,8.61,9.34,16.18,22.34-37.86c4.89-8.47,1.95-18.45-5.11-23.51Z" />
            </svg>
          </span>
          <span class="studio-link__text">Studio</span>
        </a>
      </div>
    </div>
  </ng-doc-navbar>

  <ng-doc-sidebar />

  <div [@routingAnimation]="getRouteAnimationData()">
    <router-outlet />
  </div>
</ng-doc-root>
