:host {
  width: 100%;
  height: 100%;
}

.custom-node {
  width: 150px;
  height: 100px;
  background-color: #0f4c75;
  border: 1px solid gray;
  border-radius: 5px;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
}

.data-block {
  background-color: #ffffff;
  color: #1b262c;
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
}

.handle {
  &_idle {
    fill: #fff;
  }

  &_valid {
    fill: green;
  }

  &_invalid {
    fill: red;
  }
}
