<vflow [nodes]="nodes" [edges]="edges" (onConnect)="createEdge($event)">
  <ng-template nodeHtml let-ctx>
    <ng-container *ngIf="ctx.node.data.type === 'output'">
      <div class="custom-node">
        <div class="data-block">
          Output 1
          <handle position="right" type="source" [id]="ctx.node.data.output1" [template]="handleTemplate"/>
        </div>

        <div class="data-block">
          Output 2
          <handle position="right" type="source" [id]="ctx.node.data.output2" [template]="handleTemplate"/>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="ctx.node.data.type === 'input'">
      <div class="custom-node">
        <div class="data-block">
          Input 1
          <handle position="left" type="target" [id]="ctx.node.data.input1" [template]="squareHandleTemplate"/>
        </div>

        <div class="data-block">
          Input 2
          <handle position="left" type="target" [id]="ctx.node.data.input2" [template]="squareHandleTemplate"/>
        </div>
      </div>
    </ng-container>
  </ng-template>
</vflow>

<ng-template #handleTemplate let-ctx>
  <svg:circle
    [attr.cx]="ctx.point().x"
    [attr.cy]="ctx.point().y"
    stroke-width="1"
    stroke="black"
    r="6"
    fill="#1b262c"
  />
</ng-template>

<ng-template #squareHandleTemplate let-ctx>
  <svg:rect
    width="10"
    height="10"
    stroke-width="1"
    stroke="black"
    rx="1"
    ry="1"
    [attr.x]="ctx.point().x - 5"
    [attr.y]="ctx.point().y - 5"
    fill="#ffffff"
  />
</ng-template>
