<vflow [nodes]="nodes" [edges]="edges" (onConnect)="createEdge($event)">
  <ng-template nodeHtml let-ctx>
    <ng-container *ngIf="ctx.node.data.type === 'output'">
      <div class="custom-node">
        <div class="data-block">
          Output 1
          <handle position="right" type="source" [id]="ctx.node.data.output1"/>
        </div>

        <div class="data-block">
          Output 2
          <handle position="right" type="source" [id]="ctx.node.data.output2"/>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="ctx.node.data.type === 'input'">
      <div class="custom-node">
        <div class="data-block">
          Input 1
          <handle position="left" type="target" [id]="ctx.node.data.input1"/>
        </div>

        <div class="data-block">
          Input 2
          <handle position="left" type="target" [id]="ctx.node.data.input2"/>
        </div>
      </div>
    </ng-container>
  </ng-template>
</vflow>
