<vflow view="auto" [nodes]="nodes" [edges]="edges">
  <ng-template nodeHtml let-ctx>
    <div
      class="custom-node without-tab-index"
      [class.custom-node_selected]="ctx.selected()"
      tabindex="0"
      (keydown.backspace)="ctx.selected() && deleteNode(ctx.node)"
    >
      <button class="custom-node__button" selectable>Select here</button>

      <handle type="source" position="right" />
      <handle type="target" position="left" />
    </div>
  </ng-template>

  <ng-template edge let-ctx>
    <svg:path
      selectable
      class="without-tab-index"
      [attr.d]="ctx.path()"
      [attr.stroke]="ctx.selected() ? '#0f4c75' : '#bbe1fa'"
      fill="none"
      stroke-width="2"
      tabindex="0"
      (keydown.backspace)="ctx.selected() && deleteEdge(ctx.edge)"
    />
  </ng-template>
</vflow>`
