<vflow view="auto" [nodes]="nodes" [edges]="edges">
  <ng-template let-ctx nodeHtml>
    <div
      class="custom-node without-tab-index"
      tabindex="0"
      [class.custom-node_selected]="ctx.selected()"
      (keydown.backspace)="ctx.selected() && deleteNode(ctx.node)">
      <button class="custom-node__button" selectable>Select here</button>

      <handle type="source" position="right" />
      <handle type="target" position="left" />
    </div>
  </ng-template>

  <ng-template let-ctx edge>
    <svg:g
      class="without-tab-index custom-template-edge"
      tabindex="0"
      customTemplateEdge
      selectable
      (keydown.backspace)="ctx.selected() && deleteEdge(ctx.edge)">
      <svg:path
        fill="none"
        stroke-width="2"
        [attr.d]="ctx.path()"
        [attr.stroke]="ctx.selected() ? '#0f4c75' : '#bbe1fa'" />
    </svg:g>
  </ng-template>
</vflow>
