<div class="sidebar">
  <div dndDraggable class="custom-node custom-node_draggable">
    <button class="custom-node__button">Drag here</button>
  </div>
</div>

<vflow
  view="auto"
  dndDropzone
  [nodes]="nodes"
  [edges]="edges"
  (dndDrop)="createNode($event)"
  (onConnect)="connect($event)">
  <ng-template let-ctx nodeHtml>
    <div class="custom-node" [class.custom-node_selected]="ctx.selected()">
      <button class="custom-node__button" selectable>Select here</button>

      <handle type="source" position="right" />
      <handle type="target" position="left" />
    </div>
  </ng-template>

  <ng-template let-ctx edge>
    <svg:path
      selectable
      fill="none"
      stroke-width="2"
      [attr.d]="ctx.path()"
      [attr.stroke]="ctx.selected() ? '#0f4c75' : '#bbe1fa'" />
  </ng-template> </vflow
>`
